{% extends 'base.html.twig' %}

{% block content %}
    <div class="mail-index">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
            <li><a href="{{ path('domain') }}">{{ 'breadcrumbs.domains.title' | trans }}</a></li>
            <li><a href="{{ path('domain-view', {'domain': domain.id}) }}">{{ domain.domainName }}</a></li>
            <li><a href="{{ path('email-index', {'domain': domain.id}) }}">{{ 'breadcrumbs.email.title' | trans }}</a></li>
        </ol>
        {% set quotaTotal = 976562 %}{# 1Go in Kio #}
        {% if mailboxes | length > 0 %}
        <h2>{{ 'mailbox.list.title' | trans }}</h2>
        <div class="uk-flex" uk-grid>
            <div class="uk-card uk-card-default uk-card-body uk-text-middle">
                <a href="{{ path('email-new', {'domain': domain.id}) }}" class="btn btn-primary">Créer une boite mail</a>
            </div>
            {% for mailbox in mailboxes %}
                {% set quota = mailbox.quota.used * 100 // quotaTotal %}
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{{ mailbox.login }}<span class="text-muted">@{{ mailbox.domain.domainName }}</span></h3>
                    </div>
                    <div class="uk-card-body">
                        <h4>Espace utilisé</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ quota }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                                {{ quota }}%
                            </div>
                        </div>
                        <a class="btn btn-primary" href="https://webmail.gandi.net" target="_blank" rel="noopener noreferrer">{{ 'mailbox.webmail' | trans }}</a>
                    </div>
                    <div class="uk-card-footer">
                        <a title="{{ 'mailbox.list.action.edit' | trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{{ path('email-delete', {'domain': mailbox.domain.id, 'login': mailbox.login}) }}" title="{{ 'mailbox.list.action.delete' | trans }}"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>{{ 'mailbox.list.empty' | trans }}</p>
        {% endif %}
        <a href="{{ path('email-new', {'domain': domain.id}) }}" class="btn btn-primary">{{ 'mailbox.new.create' | trans }}</a>
    </div>
{% endblock %}
