{% extends ':default/site/new:default.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
    <li><a href="{{ path('new-blog') }}">{{ 'breadcrumbs.site.new.blog' | trans }}</a></li>
    </ol>
{% endblock %}
{% block suffix %}.frama.site{% endblock %}
{% block type %}blog{% endblock %}


{% block fields %}
    <div class="form-group" data-intro="{{ 'help.site.new.admin.email' | trans }}">
        {{ form_errors(form.siteUsers.email) }}
        {{ form_label(form.siteUsers.email) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteUsers.email) }}
        </div>
    </div>

    <div class="form-group" data-intro="{{ 'help.site.new.admin.username' | trans }}">
        {{ form_errors(form.siteUsers.username) }}
        {{ form_label(form.siteUsers.username) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteUsers.username,  {'attr': {'pattern': "^[a-z0-9]+$"}}) }}
            <small class="help-block">{{ 'site.new.info.lowercase_username' | trans }}</small>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
{% block informations %}
    <div class="form-group" data-intro="{{ 'help.site.new.keywords' | trans }}">
        {{ form_errors(form.siteKeywords) }}
        {{ form_label(form.siteKeywords) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteKeywords) }}
            <small class="help-block">{{ 'site.new.informations.site_keywords.desc' | trans }}</small>
        </div>
    </div>

    <div class="form-group {% if not show_modules %}hidden{% endif %}" {% if show_modules %}data-intro="{{ 'help.site.new.modules' | trans }}"{% endif %}>
        {{ form_errors(form.siteModules) }}
        {{ form_label(form.siteModules) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteModules) }}
            <small class="help-block">{{ 'site.new.informations.site_modules.desc' | trans }}</small>
        </div>
    </div>

    <div class="form-group hidden" {% if show_modules %}data-intro="{{ 'help.site.new.homepage' | trans }}"{% endif %}>
        {{ form_errors(form.homepage) }}
        {{ form_label(form.homepage) }}
        <div class="col-sm-10">
            {{ form_widget(form.homepage) }}
            <small class="help-block">{{ 'site.new.informations.site_homepage.desc' | trans }}</small>
        </div>
    </div>
{% endblock %}

{% block user %}
    {{ parent() }}
<div class="form-group">
    {{ form_errors(form.siteUsers.locale) }}
    {{ form_label(form.siteUsers.locale) }}
    <div class="col-sm-10">
        {{ form_widget(form.siteUsers.locale) }}
        <small class="help-block">{{ 'site.new.info.optional' | trans }}</small>
    </div>
</div>
{% endblock user %}
