{% extends 'default/settings/base.html.twig' %}

{% block settings %}
    <script src="https://js.stripe.com/v3/"></script>
    <div role="tabpanel" class="tab-pane active" id="settings">
        <div>
            {% for card in cards %}
            <div style="padding: 19px 0 20px 65px;border-bottom: 1px solid #DCE3E6;position: relative">
                <div style="position: absolute;left: 0;top: 33px;"><i class="fa fa-cc-{{ card.brand | lower }}" aria-hidden="true" style="font-size: 1.5em"></i></div>
                <div>{{ card.brand | capitalize }} {{ card.last4 }} {% if card.id == default_card_id %}(Carte par défaut){% endif %}</div>
                <div class="details" style="color: #999">
                    <span>• • • •  • • • •  • • • •  {{ card.last4 }}</span>
                    <span>{{ card.exp_month }}/{{ card.exp_year }}</span>
                </div>
                <div style="position: absolute;top: 20px;right: 0;"><a href="{{ path('settings-card-remove', {'cardId': card.id}) }}" class="btn btn-default">{{ 'settings.cards.delete' | trans }}</a></div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-flex uk-flex-center domain-view">
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <form action="{{ path('settings-card-new') }}" method="post" id="payment-form" class="form">
                    <div class="form-row">
                        <label for="card-element">
                            {{ 'payment.choice.saved_cards.add.label' | trans }}
                        </label>
                        <div id="card-element" class="form-control">
                            <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button type="submit" class="btn btn-success">{{ 'settings.cards.new.submit' | trans }}</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Create a Stripe client
        var stripe = Stripe('{{ stripe_public_key }}');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: "#32325D",
                fontWeight: 500,
                lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#CFD7DF'
                }
            },
            invalid: {
                color: '#E25950',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }

        // Handle form submission
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
                    stripeTokenHandler(result.token);
                }
            });
        });
    </script>
{% endblock %}