{% extends 'base.html.twig' %}

{% block content %}
<div class="home-disconnected">
    <div class="row hero">
        <div class="col-md-12 text-center">
            <div class='carousel slide' id='carousel-site' role='presentation'>
                <div class='carousel-inner'>
                    <div class='item active'>
                        <img alt='Création de compte' src='{{ asset('img/site-diaporama-creation02.png') }}' style="object-fit: cover;">
                        <div class='carousel-caption'>
                            <p class='h3'>
                                Créez votre compte…
                            </p>
                        </div>
                    </div>
                    <div class='item'>
                        <img alt='Interface site' src="{{ asset('img/site-diaporama-fsite.png') }}" style="object-fit: cover;">
                        <div class='carousel-caption'>
                            <p class='h3'>
                                Créez un site…
                            </p>
                        </div>
                    </div>
                    <div class='item'>
                        <img alt='Interface wiki' src='{{ asset('img/site-diaporama-fwiki.png') }}'>
                        <div class='carousel-caption'>
                            <p class='h3'>
                                Et même un wiki…
                            </p>
                        </div>
                    </div>
                    {% if buy_domains %}
                    <div class='item'>
                        <img alt='Achat domaine' src='{{ asset('img/caroussel_domaine.png') }}'>
                        <div class='carousel-caption'>
                            <p class='h3'>
                                Achetez votre nom de domaine
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <p class='text-center' id='play-pause'>
                    <a class='carousel-control' href='#play-pause' title='Pause'>
                        <i class='glyphicon glyphicon-pause'></i>
                        <span class='sr-only'>
                                Pause
                            </span>
                    </a>
                </p>
                <a class="left carousel-control" href="#carousel-site" role="button" title="Diapo précédente" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Diapo précédente</span></a>
                <a class="right carousel-control" href="#carousel-site" role="button" title="Diapo suivante" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Diapo suivante</span></a>
            </div>
        </div>
        <div class="alert alert-warning col-md-12">
            {{ 'index.warning.stability' | trans | raw }}
        </div>

        <div class="col-md-6 text-center">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-lock"></span> {{ 'security.login.submit' | trans({}, 'FOSUserBundle') }}</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span> {{ 'registration.submit' | trans({}, 'FOSUserBundle') }}</a>
        </div>
    </div>

    <hr role="presentation" />

    <div class="row">
        <div id="tuto-faq" class="col-md-4">
            <h2>{{ 'index.about.getting_started.title' | trans }}</h2>
            <p class="text-center" role="presentation"><span class="glyphicon glyphicon-question-sign"></span></p>
            <div id="aboutbox">
                <p>{{ 'index.about.getting_started.desc.what' | trans | raw }}</p>
                <ol>
                    <li>{{ 'index.about.getting_started.desc.first' | trans }}</li>
                    <li>{{ 'index.about.getting_started.desc.second' | trans }}</li>
                    <li>{{ 'index.about.getting_started.desc.third' | trans }}</li>
                </ol>
                <p>{{ 'index.about.getting_started.desc.stats' | trans({'%nbAccountsBlog%': nbAccountsBlog, '%nbAccountsWiki%': nbAccountsWiki, '%nbAccountsPage%': nbAccountsPage}) | raw }}</p>
            </div>
        </div>

        <div class="col-md-4" id="le-logiciel">
            <h2>{{ 'index.about.software.title' | trans }}</h2>
            <p class="text-center" role="presentation"><span class="glyphicon glyphicon-cloud"></span></p>
            <p>{{ 'index.about.software.blog.desc' | trans | raw }}</p>
            <p>{{ 'index.about.software.wiki.desc' | trans | raw }}</p>
            <p>{{ 'index.about.software.page.desc' | trans | raw }}</p>
            <p>{{ 'index.about.software.framasite.desc' | trans | raw }}</p>
        </div>

        <div class="col-md-4" id="jardin">
            <h2>{{ 'index.about.garden.title' | trans }}</h2>
            <p class="text-center" role="presentation"><span class="glyphicon glyphicon-tree-deciduous"></span></p>
            <p>{{ 'index.about.garden.desc' | trans | raw }}</p>
            <p>{{ 'index.about.garden.help' | trans }}</p>
            <p class="text-center"><a href="http://framacloud.org/fr/cultiver-son-jardin/grav.html" class="btn btn-success"><i class="glyphicon glyphicon-tree-deciduous"></i> framacloud.org</a></p>
        </div>
    </div>
</div>
{% endblock %}
