{% extends "base.html.twig" %}

{% block title %}{{ 'user.manage.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="uk-card">
        <div class="uk-card-header">
            <p class="help">{{ 'user.manage.description'|trans|raw }}</p>
        </div>
        <div class="uk-card-body">
            <table class="bordered">
                <thead>
                    <tr>
                        <th>{{ 'user.manage.field.username'|trans }}</th>
                        <th>{{ 'user.manage.field.email'|trans }}</th>
                        <th>{{ 'user.manage.field.last_login'|trans }}</th>
                        <th>{{ 'user.manage.field.locked'|trans }}</th>
                        <th>{{ 'user.manage.action'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.lastLogin|date('d/m/Y H:i:s') }}</td>
                            <td>{{ user.locked ? 'yes' : 'no' }}</td>
                            <td>edit - delete</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-card-footer">
            <p>
                <a href="{{ path('user_new') }}" class="waves-effect waves-light btn">{{ 'user.list.create_new_one'|trans }}</a>
            </p>
            {% if users.getNbPages > 1 %}
                {{ pagerfanta(users, 'twitter_bootstrap_translated', {'proximity': 1}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
