{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-large uk-width-1-1@m uk-card-body">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
