{% extends 'base.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
        <li><a href="{{ path('command-index') }}">{{ 'breadcrumbs.commands.title' | trans }}</a></li>
        <li><a href="{{ path('command-view', {'command': command.id}) }}">{{ 'breadcrumbs.commands.view' | trans({'%number%': command.id}) }}</a></li>
    </ol>

<div class="uk-flex uk-flex-center command-view">
    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    {% set domains = command.getDomains() %}
                    <h3 class="uk-margin-remove-bottom">{{ 'command.details.command_number' | transchoice(domains | length, {'%command_id%': command.id}) }}</h3>
                    <p class="uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ 'command.created_at' | trans({'%date%': command.createdAt | localizeddate }) }}</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{ 'command.status.label' | trans }}&nbsp;: {{ command.status | command_status | trans }}</p>
            {% if command.status >= 50 %}
                {{ 'command.details.stripe_id' | trans({'%stripe_id%': command.stripeId}) }}
            {% endif %}
            <h4>{{ 'command.details.title' | trans }}</h4>
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>{{ 'command.details.domain' | trans }}</th>
                    <th>{{ 'command.details.gandi' | trans }}</th>
                    <th>{{ 'command.details.marge' | trans }} ({{ marge * 100 }}%)</th>
                    <th>{{ 'command.details.total' | trans }}</th>
                    {% if command.commandDomains | length > 1 and command.status < 2 %}<th>{{ 'command.details.action' | trans }}</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for commandDomain in command.commandDomains %}
                    <tr>
                        <td>{{ commandDomain.domain.domainName }}</td>
                        <td>{{ commandDomain.amount }}€</td>
                        <td>{{ commandDomain.total - commandDomain.amount }}€</td>
                        <td>{{ commandDomain.total }}€</td>
                        {% if command.commandDomains | length > 1 %}<td><a href="{{ path('remove-command-domain-from-command', {'command': command.id, 'commandDomain': commandDomain.id}) }}" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></a></td>{% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4>Total</h4>
            <table class="uk-table uk-table-divider">
                <tr>
                    <td>{{ 'command.details.framasoft_marge' | trans }}</td>
                    <td>{{ command.total - command.amount }}€</td>
                </tr>
                <tr>
                    <td>{{ 'command.details.cuts' | trans }}</td>
                    <td>{{ command.cut }}€</td>
                </tr>
                <tr>
                    <td>{{ 'command.details.total' | trans }}</td>
                    <td><b>{{ command.total }}€</b></td>
                </tr>
            </table>
        </div>
        <div class="uk-card-footer">
                {% if command.status < 2 or command.status == 42 %}
                    <a href="{{ path('add-domain') }}" class="btn btn-default">{{ 'command.action.add_another_domain' | trans }}</a>
                    <a href="{{ path('command-cancel', {'command': command.id}) }}" class="btn btn-default">{{ 'command.action.cancel' | trans }}</a>
                {% endif %}
            <div class="pull-right">
                    <a href="{{ path('command-invoice', {'command': command.id}) }}" class="btn btn-default" target="_blank" rel="noopener noreferrer" title="{{ 'command.invoice.label' | trans }}"><span class="glyphicon glyphicon-file"></span> {{ 'command.invoice.label' | trans }}</a>
                {% if command.status < 2 or command.status == 42 %}
                    <a href="{{ path('payment-choice', {'command': command.id}) }}" class="btn btn-success">{{ 'command.action.pay' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}