{% extends 'base.html.twig' %}

{% block content %}

    <div class="choice-site">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
            <li><a href="{{ path('new-site') }}">{{ 'breadcrumbs.site.new.title' | trans }}</a></li>
        </ol>

        {% embed 'default/site/_choice.html.twig' %}
        {% endembed %}
    </div>
{% endblock %}