{% extends 'default/settings/base.html.twig' %}

{% block settings %}
    <div role="tabpanel" class="tab-pane active" id="password">
        <div class="uk-flex" uk-grid>
            <div class="uk-width-expand uk-card uk-card-default uk-card-body">
                <h2>{{ 'settings.password.title' | trans }}</h2>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group clearfix">
                    {{ 'settings.password.desc'|trans }}
                </div>

                <div class="form-group clearfix">
                    {{ form_label(form.old_password) }}
                    {{ form_errors(form.old_password) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.old_password) }}
                    </div>
                </div>

                <div class="form-group clearfix">
                    {{ form_errors(form.new_password.first) }}
                    {{ form_label(form.new_password.first) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.new_password.first) }}
                    </div>
                </div>

                <div class="form-group clearfix">
                    {{ form_label(form.new_password.second) }}
                    {{ form_errors(form.new_password.second) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.new_password.second) }}
                    </div>
                </div>

                <div class="alert alert-warning">
                    {{ 'settings.save_warning' | trans }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-default" href="{{ path('homepage') }}">{{ 'settings.cancel' | trans }}</a>
                {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}