{% extends 'base.html.twig' %}

{% block content %}
<div class="uk-flex uk-flex-center command-view">
    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                50%
            </div>
        </div>
        <div class="uk-card-header">
            <h2>{{ 'payment.succeeded.title' | trans }}</h2>
        </div>
        <div class="uk-card-body">
            <p>{{ 'payment.succeeded.desc' | trans({'%amount%': command.total }) }}</p>
            <p>{{ 'payment.succeeded.help' | trans({'%command%': command.id }) | raw }}</p>
        </div>
        <div class="uk-card-footer">
            <a href="{{ path(command.next, {'command': command.id}) }}" class="btn btn-primary pull-right">{{ 'payment.succeeded.next.btn' | trans }}</a>
        </div>
    </div>
</div>
{% endblock %}