{% extends 'base.html.twig' %}

{% block content %}

    {% if zones | length > 0 %}
        <h2>{{ 'admin.zones.list.title' | trans }}</h2>
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'zone.id' | trans }}</td>
                <td>{{ 'zone.name' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
                <tr>
                    <td>{{ zone.id }}</td>
                    <td>{{ zone.name }}</td>
                    <td><a href="{{ path('admin-info-zone', {'zone': zone.id}) }}">Info</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'admin.zones.list.empty' | trans }}
    {% endif %}
    <a href="{{ path('admin-create-zone') }}">{{ 'admin.zones.list.create' | trans }}</a>
{% endblock %}
