{% extends 'base.html.twig' %}

{% block content %}

    <h2>{{ 'command.list.title' | trans }}</h2>
    {% if commands | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'command.list.id' | trans }}</td>
                <td>{{ 'command.list.domains' | trans }}</td>
                <td>{{ 'command.list.created_at' | trans }}</td>
                <td>{{ 'command.list.status' | trans }}</td>
                <td>{{ 'command.list.amount' | trans }}</td>
                <td>{{ 'command.list.user' | trans }}</td>
                <td>{{ 'command.list.payment' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.id }}</td>
                    <td>{% if command.domains %}
                        {% for domain in command.domains %}
                            <a href="{{ path('domain-view', {'domain': domain.id}) }}">{{ domain.domainName }}</a>
                        {% endfor %}
                        {% else %}{{ command.domainNames }} (deleted){% endif %}</td>
                    <td>{{ command.createdAt | localizeddate }}</td>
                    <td>{{ command.status | command_status | trans }}</td>
                    <td>{{ command.total }}€</td>
                    <td>{% if command.user %}<a href="{{ path('user_view', {'id': command.user.id}) }}">{{ command.user.username }}</a>{% else %}{{ command.username }} - {{ command.email }} (deleted){% endif %}</td>
                    <td>{{ command.paymentType | command_payment_type | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'command.list.empty' | trans }}
    {% endif %}
{% endblock %}
