{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="alert alert-warning">
       {{ 'domain.detach.warning.main' | trans({'%domainname%': domain.domainName}) | raw }}
        <ul>
                <li>{{ 'domain.detach.warning.zero' | trans({'%domainname%': domain.domainName}) }}</li>
            {% if domain.site is not null %}
                <li>{{ 'domain.detach.warning.one' | trans({'%site%': domain.site, '%domainname%': domain.domainName}) }}</li>
            {% endif %}
            {% if domain.registeredByFrama and domain.status >= 30 %}
                <li>{{ 'domain.detach.warning.two' | trans({'%domainname%': domain.domainName}) }}</li>
                <li>{{ 'domain.detach.warning.three' | trans({'%contactID%': contactId}) }}</li>
            {% endif %}
        </ul>
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        <div class="col-sm-10">
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
            <small class="help-block">{{ 'domain.detach.password' | trans({'%subdomain%': domain.domainname}) }}</small>
        </div>
    </div>

    <a href="{{ referer }}" class="btn btn-info">{{ 'site.delete.form.cancel' | trans }}</a>
    {{ form_widget(form.save) }}

    {{ form_end(form) }}
</div>
{% endblock %}