{% extends 'base.html.twig' %}

{% block content %}
    <div class="domain-index">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
            <li><a href="{{ path('domain') }}">{{ 'breadcrumbs.domains.title' | trans }}</a></li>
        </ol>
        {% if domains | length > 0 %}
        <h2>{{ 'domain.list.title' | trans }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>{{ 'domain.list.domain_name' | trans }}</td>
                    <td>{{ 'domain.list.attached_to.label' | trans }}</td>
                    <td>{{ 'domain.list.bought_through_frama.label' | trans }}</td>
                    <td>{{ 'domain.list.expires_on' | trans }}</td>
                    <td>{{ 'domain.list.status' | trans }}</td>
                    <td>{{ 'domain.list.actions' | trans }}</td>
                </tr>
            </thead>
            <tbody>
            {% for domain in domains %}
            {% if domain.status <= 150 or domain.registeredByFrama %}
                <tr>
                    <td><a href="https://{{ domain.domainName }}">{{ domain.domainName }}</a></td>
                    <td>{% spaceless %}
                        {% if domain.site %}
                            {% if domain.site is blog %}
                                <a href="https://{{ domain.site.subdomain }}.frama.site">{{ domain.site.subdomain }}.frama.site <span class="glyphicon glyphicon-new-window"></span></a>
                            {% elseif domain.site is wiki %}
                                <a href="https://{{ domain.site.subdomain }}.frama.wiki">{{ domain.site.subdomain }}.frama.wiki <span class="glyphicon glyphicon-new-window"></span></a>
                            {% endif %}
                            <a href="{{ path('attach-frama-domain', {'domain': domain.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{{ path('dissociate-domain', {'domain': domain.id}) }}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% else %}
                            {{ 'domain.list.attached_to.not' | trans }} <a href="{{ path('attach-frama-domain', {'domain': domain.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        {% endif %}
                        {% endspaceless %}
                    </td>
                    <td>{{ domain.registeredByFrama ? 'domain.list.bought_through_frama.yes' | trans : 'domain.list.bought_through_frama.no' | trans }}</td>
                    <td title="{{ domain.expiresAt ? domain.expiresAt | date }}">{{ domain.expiresAt ? domain.expiresAt | time_diff : 'N/A' }}</td>
                    <td>{{ domain.status | domain_status | trans }}</td>
                    <td><a href="{{ path('domain-view', {'domain': domain.id}) }}">{{ 'domain.action.view' | trans }}</a> {% if domain.registeredByFrama %}<a href="{{ path('domain-renew', {'domain': domain.id}) }}">{{ 'domain.action.renew' | trans }}</a>{% endif %}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <h2>{{ 'domain.list.assistant.title' | trans }}</h2>
        {% if buy_domains %}
        <div class="uk-flex uk-flex-center uk-flex-middle">
            <h3><a class="btn btn-default" href="{{ path('command-index') }}">{{ 'command.list.title' | trans }}</a></h3>
        </div>
        {% endif %}
        <div class="uk-text-center row" uk-grid>
            <div class="well col-md-8 col-md-offset-2">
                <h4>{{ 'domain.list.advanced.options.title' | trans }}</h4>
                {% if buy_domains %}
                    <p>
                        <a class="btn btn-info" href="{{ path('add-domain') }}" data-intro="{{ 'help.domain.create' | trans }}">{{ 'domain.list.advanced.options.buy_domain.btn' | trans }}</a>
                        avec <img src="{{ asset('img/Gandi_logo_black.jpg') }}" height="40" width="100" />
                    </p>
                {% endif %}
                <p><b>{{ 'domain.list.advanced.options.buy_domain.warning' | trans }}</b></p>
                <p>{{ 'domain.list.advanced.options.buy_domain.desc' | trans | raw }}</p>
                <a href="{{ path('domain-help') }}" class="btn btn-default">{{ 'domain.list.advanced.options.buy_domain.howto' | trans }}</a>
                <a href="{{ path('attach-domain') }}" class="btn btn-primary">{{ 'domain.list.advanced.options.buy_domain.attach' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
