{% extends 'base.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
        <li><a href="{{ path('domain') }}">{{ 'breadcrumbs.domains.title' | trans }}</a></li>
        <li><a href="{{ path('add-domain') }}">{{ 'breadcrumbs.domains.buy_new' | trans }}</a></li>
    </ol>
    <div class="clearfix domain-new">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <h3>{{ 'domain.buy.title' | trans }}</h3>
        {% if app.user.gandiId is null %}
        <div class="row">
            <div class="alert alert-info col-sm-offset-2 col-sm-8">
                {{ 'domain.buy.gandi_id_info' | trans }}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            {{ form_errors(form.domainName) }}
            {{ form_label(form.domainName) }}
            <div class="col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                    {{ form_widget(form.domainName) }}
                    <span class="input-group-btn"><button class="btn btn-default" id="view-succestions" type="button">Voir les suggestions</button></span>
                </div>
                <small class="help-block">{{ 'domain.buy.info' | trans }}</small>
            </div>
        </div>
        <div class="results hidden table-responsive col-sm-offset-2 col-sm-8">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>{{ 'domain.buy.columns.domain' | trans }}</td>
                        <td>{{ 'domain.buy.columns.price' | trans }}</td>
                        <td>{{ 'domain.buy.columns.action' | trans }}</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
